@import "_grid.scss";
@import "_theme.scss";

$background: #1C1E2E;
$background_light: #222538;
//$accent: #8feb34;
$accent: #00c16e;
//$accent: #eb5424;
$purple: #8762c9;
$accent_hover: #5d418f;

body {
    background: $background;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

section.pre-header {
	background: $background_light;

	ul {
		li {
			list-style: none;
			display: inline-block;
			margin-right: 10px;

			a {
				color: $purple;
				text-decoration: none;
				font-size: 22px;
				transition: .2s ease-in-out color;
				vertical-align: middle;

				&:hover {
					color: $accent_hover;
				}

				&.button {
					font-size: 14px;
					color: white;
					
					&:hover {
						color: $accent;
					}
					
					i {
						font-size: 22px;
						vertical-align: middle;
						margin-right: 10px;
						color: $accent;
					}
				}
			}
		}
	}
}

header {
		padding: 20px;
		
		img {
			width: 200px;
			height: auto;
		}

    nav {
        ul {
            text-align: center;

            li {
                list-style-type: none;
                display: inline-block;
                padding: 0 10px;

                a {
                    color: white;
                    text-decoration: none;   
                    transition: .2s ease-in-out color;
                    
                    &:hover {
                        color: $accent;
                        //text-decoration: underline;
                        border-bottom: 2px solid $accent;
                    }
                }
            }
        }
    }

    .cart-button {

        a {
            width: 100%;
            display: inline-block;
            background: $accent;
            text-align: center;
            color: white;
            text-decoration: none;
            padding: 10px 0;
            border-radius: 3px;
            transition: .2s ease-in-out background-color;
            
        }

        &:hover {
            a {
                background-color: $accent_hover;
            }
        }
    }
}

section.banner {
    width: 100%;
    height: 400px;
    background-color: #8762c9;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a680e8' fill-opacity='0.22' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			font-size: 64px;
			font-weight: 800;
			width: 700px;
			text-transform: uppercase;
			margin: 0 auto;
		}

		a {
			background: $background;
			padding: 20px 50px;
			text-decoration: none;
			color: white;
			border-radius: 3px;
			display: inline-block;
			margin-top: 20px;
			border: 2px solid $background;
			transition: .1s all ease-in-out;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			
			&:hover {
				background: transparent;
				border-color: $accent;
			}
		}
}

section.grid {
		width: 100%;
		
		&.last {
			margin-top: 20px;
		}

    .grid-header {
        width: 100%;
        background: $background_light;
        border-radius: 3px;
        padding: 0 20px;
        border-bottom: 5px solid $accent;
        margin-bottom: 20px;

        h1 {

        }
    }

    .grid-body {
        width: 100%;
        margin-bottom: 20px;

        .product {
            width: 100%;
            margin-bottom: 20px;

            .image {
                width: 100%;
                height: 300px;
                background: $accent;
                border-radius: 3px;
                margin-bottom: 10px;
            }

            .availability {
                color: $accent;
                text-transform: uppercase;
                font-weight: 500;
            }

            .title {
                font-weight: 500;
                font-size: 18px;
                padding-top: 5px;
            }

            .price {
                font-size: 32px;
                color: $accent;
                font-weight: 900;
                padding-top: 5px;
            }

            a.buy-now {
                background: $accent;
                border-radius: 3px;
                padding: 10px 30px;
                color: white;
                font-weight: 500;
                text-decoration: none;
                margin-top: 10px;
                display: inline-block;
                transition: .2s ease-in-out color;
                &:hover {
                    color: $background;
                }
            }
        }
    }
}

section.cta {
    background: $background_light;
    width: 100%;
    padding: 30px 0;

    h1 {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 30px;
    }

    .why {
        text-align: center;
        margin-bottom: 30px;

        i {
            font-size: 33px;
            color: $accent;
        }
        p {
            font-size: 16px;
            text-align: center;
            line-height: 26px;
        }
    }
}

section.thanks {
    padding: 40px 0;

    .box {
        border-radius: 3px;
        background: $purple;
        padding: 20px;
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 900;
            text-align: center;
            margin: 0;
        }

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 300;
            color: $background_light;
            margin-top: 10px;
            margin-bottom: 0;
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            display: inline-block;
            margin-top: 10px;
            transition: .1s ease-in-out color;

            i {
                padding-left: 5px;
            }

            &:hover {
                color: $accent_hover;
            }
        }
    }

    .thanks-slider {
        width: 100%;
        overflow: hidden;
        height: 300px;
        border-radius: 5px;
    }
}

section.winners {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;

	i {
		display: inline-block;
		vertical-align: middle;
		font-size: 32px;
		opacity: 0.4;
		padding-right: 20px;
	}

	.statistics {
		display: inline-block;
		vertical-align: middle;

		h1 {
			font-size: 32px;
			margin: 20px 0 0 0;
		}
	
		p {
			font-size: 18px;
			color: $accent;
			margin: 0 0 20px 0;
		}
	}

	.border {
		//border-right: 4px solid $background_light;
	}
}

section.process {
	background: $purple;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a680e8' fill-opacity='0.22' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	padding: 40px 0;
	border-top: 4px solid $accent;
	text-align: center;

	.circle {
		width: 35px;
		height: 35px;
		background: $accent_hover;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;

		span {
			font-size: 18px;
			font-weight: 700;
			position: relative;
			top: 6px;
			left: 1px;
		}
	}

	.square {
		padding: 20px;
		border-radius: 3px;
		border: 2px solid $accent_hover;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		right: 15px;

		i {
			font-size: 22px;
			color: white;
		}
	}
}

footer {
	padding: 30px 0 20px 0;

	img {
		width: 200px;
		height: auto;
	}

	p {
		font-size: 14px;
		line-height: 22px;
	}

	ul.social {
		padding: 0;
		margin: 0;
		text-align: left;
		li {
			list-style: none;
			display: inline-block;
			margin-right: 10px;

			a {
				color: $purple;
				text-decoration: none;
				font-size: 22px;
				transition: .2s ease-in-out color;
				vertical-align: middle;

				&:hover {
					color: $accent_hover;
				}

			}
		}
	}

	h1 {
		font-size: 16px;
		text-align: left;
	}

	ul {
		padding: 0;
		margin: 20px 0 0 0;
		text-align: left;
		li {
			list-style: none;
			padding-bottom: 10px;

			a {
				text-decoration: none;
				color: rgba(255, 255, 255, 0.3);
				font-weight: 400;
				font-size: 14px;
				text-align: left;

				&:hover {
					color: $accent;
				}
			}
		}
	}
}

section.after-footer {
	background: $background_light;
	border-top: 1px solid $purple;

	p {
		font-size: 12px;
		text-align: center;
		opacity: 0.3;
	}
}